@use '../button-base' as *;
@use '../../icon-base' as *;

svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host {
  @include host-base;

  button {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-20);
    height: var(--size-20);
    font-size: var(--size-10);
    border-radius: 50%;

    .btn-icon {
      @include icon-mask;
    }

    &.top {
      top: calc(var(--header-height) + 1em);
    }

    &.bottom {
      bottom: 1em;
    }

    &.right {
      right: 1em;
    }

    &.left {
      left: 1em;
    }
  }

  @include variants;
}
