.accordion {
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
    padding: 0.5em;
    width: 100%;
    border: none;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    font-size: var(--size-15);
    font-family: InterBold, sans-serif;
    transition: 0.4s;
}

.accordion.active,
.accordion:hover {
    background-color: var(--accent-color);
    color: var(--accent-font-color);
}

.panel {
    padding: 0.5em;
    display: none;
    background-color: var(--white);
    color: var(--black);
    overflow: hidden;
}

.panel.visible {
    display: block;

    li.active,
    li:hover {
        font-weight: bold;
    }
}

.subject {
    cursor: pointer;
    font-weight: bold;
    font-size: var(--size-14);
    border-bottom: var(--border);
}

.subjects {
    padding: 0;
}

.topic {
    cursor: pointer;
    font-size: var(--size-13);
}

.topics {
    padding-left: 1.5em;
}

ul.subtopics {
    color: var(--gray-700);
    padding-bottom: 0.5em;

    li {
        cursor: pointer;
        font-size: var(--size-12);
        color: var(--accent-color);
    }
}

section.results-container {
    position: absolute;
    background-color: var(--white);
    padding: 0.25em;
    top: var(--header-height);
    overflow-y: auto;
    max-height: calc(95dvh - var(--header-height));
    z-index: 12;

    .result-section {
        .title {
            width: 100%;
            background-color: var(--black);
            color: var(--white);
            padding-left: 0.5em;
        }

        .results {
            li.result-item {
                border-bottom: var(--border);
                padding: 0.5em;
                font-size: var(--size-08);

                *:last-child {
                    cursor: pointer;
                }
            }
        }
    }
}

.results-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--background-translucent);
    z-index: 10;
}

.selected-result {
    background: var(--gray-200);
}

.info {
    font-family: PatrickHand, sans-serif;
    padding-bottom: 1em;

    ol,
    ul {
        padding-left: 1em;
    }

    .list {
        margin-top: 0.5em;
    }
}

@media (min-width: 800px) {
    section.results-container {
        right: 0;
    }

    .info-lists {
        display: inline-flex;
        gap: 1em;
    }
}

@media (max-width: 800px) {
    section.results-container {
        width: 100%;
        left: 0;
    }
}