@use '../../icon-base' as *;

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
  font-size: var(--size-08);
  padding: 0.5em;
  border-radius: var(--s-05);
  border: var(--border-width) solid;

  span {
    font-family: PatrickHand, sans-serif;
    padding: 0 0.5em;
  }

  .bdg-icon {
    @include icon-mask;
  }

  svg {
    width: 1em;
    height: 1em;
    cursor: pointer;

    path {
      fill: currentColor;
      stroke: currentColor;
    }
  }
}

.default {
  color: var(--black);
  background-color: var(--gray-200);
  border-color: var(--gray-200);
}

.white {
  color: #000;
  background-color: #FFF;
  border-color: #FFF;
}

.black {
  color: #FFF;
  background-color: #000;
  border-color: #000;
}
