.badge {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
  font-size: var(--size-08);
  padding: 0.5em;
  border-radius: var(--s-05);
  border: var(--border-width) solid;

  span {
    font-family: PatrickHand, sans-serif;
    padding: 0 0.5em;
  }

  svg {
    width: 1em;
    height: 1em;
    cursor: pointer;
  }
}

.default {
  background-color: var(--gray-200);
  border-color: var(--gray-200);

  svg {
    path {
      fill: var(--black);
      stroke: var(--black);
    }
  }
}

.white {
  color: #000;
  background-color: #FFF;
  border-color: #FFF;
}

.black {
  color: #FFF;
  background-color: #000;
  border-color: #000;

  svg {
    path {
      fill: #FFF;
      stroke: #FFF;
    }
  }

  .bdg-icon {
    filter: invert(1);
  }
}
