@use '../../icon-base' as *;

.icon {
  @include icon-mask;

  &.on-accent {
    background-color: var(--accent-font-color);
  }
}

.sm {
  font-size: var(--size-06);
}

.md {
  font-size: var(--size-12);
}

.lg {
  font-size: var(--size-18);
}
